.PostLoginhome-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PostLoginHome {
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 765px) {
  .PostLoginhome-Container {
    flex-direction: column;
  }
  
}
