#Connect {
  padding: 5px;
  color: white;
  background: linear-gradient(to right, rgb(88, 41, 190), lightblue);
  font-weight: 400;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  font-size: calc(1rem + 0.1vw);
  margin-top: 25px;
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 1rem - 15vh);
}

#Main-Title-Color {
  background: -webkit-linear-gradient(left, rgb(88, 41, 190), lightblue);
  background: -o-linear-gradient(right, rgb(88, 41, 190), lightblue);
  background: -moz-linear-gradient(right, rgb(88, 41, 190), lightblue);
  background: linear-gradient(to right, rgb(88, 41, 190), lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Titles {
  font-size: calc(1rem + 6vw);
  font-weight: bold;
}
#Main-Title-Sub {
  font-size: calc(1rem + 4vw);
  font-weight: bold;
}
#Main-Sub {
  font-weight: 300;
  font-size: calc(1rem + 1vw);
}

.PreLogin {
}

body {
  background-image: url("D:\github\CRUD\EMAIL-BLOCKCHAIN\frontend\public\beta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 480px) {
  #Main-Sub{
    font-size: 17px !important;
  }
}